##**Домашнее задание по теме "Python как инструмент анализа данных"**

**Задание:**

Цель домашних работ:

Домашние задания курса объединены общей целью — построить систему анализа домашней бухгалтерии на основе ваших данных.

Домашняя работа #5:

В этом задании вы научитесь проводить первичный анализ данных с помощью языка Python.

Перед началом работы:

Поменяйте локаль на United States и установите формат для столбца с суммами затрат в 0.00.
Скачайте данные из Google Таблиц в виде CSV-файла. Для скачивания нужно: открыть раздел File >>> Download >>> CSV-файл (текущий лист).
Сохраняется текущий, активный лист. Убедитесь, что вы скачиваете лист с данными.
Задание:

Запустите Google Colaboratory.
На боковой панели нажмите на значок с изображением папки — при наведении он будет подписан как «файлы». Ничего не открывая и не меняя в панели, перетащите скачанный CSV-файл с данными в эту область.
Подключите библиотеку pandas, выполнив ячейку с кодом из лекции: import pandas as pd.
Загрузите CSV-файл в pandas-датафрейм, с помощью команды df = pd.read_csv(‘…’) указав вместо «…» необходимые параметры.
Выведите общую статистику: минимальное, среднее и максимальное значение трат, без учёта категорий. Для этого воспользуйтесь командой describe().
Сгруппируйте данные по категориям и вычислите суммарные затраты в каждой из них. Для этого воспользуйтесь командами groupby() и sum() по аналогии с тем, как мы делали на лекции.
В качестве подсказки можно использовать ноутбук с занятий:

Colab notebook.
CSV-файл.

Результат выполненной работы:

Ссылка на ноутбук в Google Colaboratory. К ноутбуку должен быть открыт доступ на комментирование.
Убедитесь, что к ноутбуку предоставлен доступ по ссылке, иначе преподаватель не сможет проверить работу. Для этого можно открыть браузер в режиме инкогнито и убедиться, что ссылки открываются корректно.

Как запустить Chrome в режиме инкогнито.
Как запустить Safari в режиме инкогнито.

**Решение:**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Новая форма (Ответы) - Ответы на форму (1).csv', sep=',' )

In [ ]:
df.describe ()

       Сумма операции
count       47.000000
mean     17821.234043
std      23233.312858
min       2300.000000
25%       3895.000000
50%       7470.000000
75%      19950.000000
max      92700.000000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.groupby ('Категория статьи расходов').sum()

                                    Сумма операции
Категория статьи расходов
Банковские кредиты                        306350.0
ГСМ и амортизация автомобиля              141200.0
Коммунальные платежи                       36760.0
Одежда и аксессуары                        61420.0
Покупки для дома                           73348.0
Продукты питания                          159670.0
Расходы на детские секции и кружки         26570.0
Услуги                                     32280.0