##**Домашнее задание по теме "Машинное обучение для жизни"**

**Задание:**

Цель домашних работ:

Домашние задания курса объединены общей целью — построить систему анализа домашней бухгалтерии на основе ваших данных.

Домашняя работа #7:

Вы получите представление об основах машинного обучения и оцените его полезность для решения конкретных задач.

Задание:

Рассмотрим пример использования машинного обучения для домашней бухгалтерии. Применим машинное обучение для предсказания стоимости медицинской страховки для человека.

Для вас собрали и подготовили датасет с данными
и
шаблон в Colab-ноутбуке, который необходимо дополнить кодом.

Задание выполняется на основе знаний, полученных на лекции.
Пример ноутбука из лекции.

Что нужно сделать:

перейдите по ссылке;
скопируйте ноутбук;
при нажатии «Скопировать на диск» Colab-ноутбук с шаблоном откроется в новом окне, работать необходимо в копии:
скриншот

пункты задания находятся внутри ноутбука — они идут по порядку выполнения ячеек кода, комментарии начинаются с #;
CSV-файл для подключения нужно скачать здесь;
результат выполненного задания — готовый ноутбук с предсказанием по конкретному человеку.
Дополнительное задание (со звёздочкой):

Постройте прогноз своих трат на месяц вперёд по выбранной вами категории.
Для этого:

Сформируйте в Google Таблицах датасет (таблицу) на отдельном листе следующего вида:
|траты в позапрошлом месяце | траты в прошлом месяце | траты в текущем месяце | траты в следующем месяце|
То есть в таблице должно быть 4 столбца. Внесите данные, чтобы в этой таблице было минимум 8 строчек.
Загрузите этот датасет в Google Colaboratory:
выполните обработку данных (при необходимости);
разделите данные на части — 1 для обучения и 2 для проверки;
сделайте модель линейной регрессии;
оцените качество модели на отложенных данных.
Выполняется по аналогии с приведённым примером из лекции.

*Результат выполненного задания:

Ссылка на отдельный от основного задания ноутбук в Google Colaboratory, к которому тоже должен быть предоставлен доступ.

Убедитесь, что к материалам предоставлен доступ по ссылке, иначе преподаватель не сможет проверить работу. Для этого можно открыть браузер в режиме инкогнито и убедиться, что ссылки открываются корректно.

Как запустить Chrome в режиме инкогнито.
Как запустить Safari в режиме инкогнито.

**Решение:**

# Предсказываем стоимость мед страховки

## Загужаем необходимые библиотеки

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Загружаем данные

Собраны данные:
- age: возраст
- sex: пол
- bmi: индекс массы тела
- children: количество детей, охваченных медицинским страхованием / количество иждивенцев
- smoker: курение
- region: регион (northeast, southeast, southwest, northwest).
- charges: индивидуальные медицинские расходы (его и хотим предсказать)

In [ ]:
df = pd.read_csv ('insurance.csv', sep=',')
# Загрузите данные из файла insurance.csv в переменную df

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Смотрим статистику, что нет пропусков и отсуствующих значений

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Преобразуем строковые данные

In [ ]:
# Заменяем пол и курение на числа
df['sex']=df['sex'].map({'male':1, 'female':0})
df['smoker']=df['smoker'].map({'yes':1,'no':0})

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Заменяем регион на набор отдельных колонок (is_southwest, is_southeast и тп)
df = pd.get_dummies(df, columns=['region'])
df.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0

## Формируем признаки и целевую переменную

In [ ]:
df. columns
## Сформируйте признаки и целевую переменную

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest'],
      dtype='object')

In [ ]:
X = df[['age', 'sex', 'bmi', 'children', 'smoker',
       'region_northeast', 'region_northwest', 'region_southeast',
       'region_southwest']]

In [ ]:
y = df ['charges']

In [ ]:
X

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,0,0,0,1
1,18,1,33.770,1,0,0,0,1,0
2,28,1,33.000,3,0,0,0,1,0
3,33,1,22.705,0,0,0,1,0,0
4,32,1,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,1,0,0
1334,18,0,31.920,0,0,1,0,0,0
1335,18,0,36.850,0,0,0,0,1,0
1336,21,0,25.800,0,0,0,0,0,1
1337,61,0,29.070,0,1,0,1,0,0

In [ ]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

## Разделяем данные на выборку для обучения/проверки

In [ ]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.2)

In [ ]:
X_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
243,40,1,35.300,3,0,0,0,0,1
205,28,0,28.880,1,0,1,0,0,0
113,21,0,35.720,0,0,0,1,0,0
1281,47,0,27.645,2,1,0,1,0,0
586,21,1,20.235,3,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
129,38,1,34.700,2,0,0,0,0,1
475,61,1,28.310,1,1,0,1,0,0
768,64,0,39.700,0,0,0,0,0,1
549,43,0,46.200,0,1,0,0,1,0
711,50,0,23.540,2,0,0,0,1,0

In [ ]:
X_test

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
1075,32,0,29.590,1,0,0,0,1,0
242,55,0,26.800,1,0,0,0,0,1
766,47,1,32.300,1,0,0,0,0,1
1278,39,1,29.925,1,1,1,0,0,0
209,40,1,41.230,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
763,27,1,26.030,0,0,1,0,0,0
167,32,0,33.155,3,0,0,1,0,0
648,18,1,28.500,0,0,1,0,0,0
976,48,1,40.150,0,0,0,0,1,0
738,23,1,31.730,3,1,1,0,0,0

In [ ]:
y_train

243      7196.86700
205      4337.73520
113      2404.73380
1281    24535.69855
586      3861.20965
           ...
129      6082.40500
475     28868.66390
768     14319.03100
549     45863.20500
711     10107.22060
Name: charges, Length: 1070, dtype: float64

In [ ]:
y_test

1075     4562.84210
242     35160.13457
766      8062.76400
1278    22462.04375
209      6610.10970
           ...
763      3070.80870
167      6128.79745
648      1712.22700
976      7804.16050
738     36189.10170
Name: charges, Length: 268, dtype: float64

## Создаем и обучаем модель линейной регресии

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.coef_

array([  259.76891455,   105.26377951,   331.0468577 ,   546.26101809,
       24109.84787645,   529.69715762,   136.28017526,  -289.86228464,
        -376.11504824])

In [ ]:
# Создайте и обучите модель

## Получаем предсказание и оцениваем качество

In [ ]:
# Получите предсказание

In [ ]:
# Оцените качество, при помощи метода mean_squared_error для тестовой выборки

## Делаем предсказание для одного человека

In [ ]:
# Заполняем данные по конкретному человеку
data = [{
    "age": 20,
    "sex": 1,
    "bmi": 30,
    "children": 2,
    "smoker": 1,
    "region_northeast": 0,
    "region_northwest": 0,
    "region_southeast": 1,
    "region_southwest": 0
}]

In [ ]:
df_person = pd.DataFrame(data)
df_person.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,20,1,30,2,1,0,0,1,0

In [ ]:
lr.predict(df_person)

array([27541.29601846])

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

39915241.996970706

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

35706764.23362636